{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>商品添加</title>

    <link rel="stylesheet" href="{% static 'seller/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'seller/css/xadmin.css' %}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'seller/lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'seller/js/xadmin.js' %}"></script>
  </head>

  <body>
    <div class="x-body layui-anim layui-anim-up">
        <form class="layui-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>商品编号
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_email" name="goods_num" value="{{ good.goods_id }}" required=""
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>商品名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_username" value="{{ good.goods_name }}" name="goods_name" required=""
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  <span class="x-red">*</span>商品原价
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_pass" value="{{ good.goods_price }}" name="goods_oprice" required=""
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="goods_xprice" class="layui-form-label">
                  <span class="x-red">*</span>商品现价
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="goods_xprice" value="{{ good.goods_now_price }}" name="goods_xprice" required=""
                  autocomplete="off" class="layui-input">
              </div>
          </div>
		  <div class="layui-form-item">
              <label for="goods_count" class="layui-form-label">
                  <span class="x-red">*</span>商品库存
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="goods_count" value="{{ good.goods_num }}" name="goods_count" required=""
                  autocomplete="off" class="layui-input">
              </div>
          </div>
		  <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>商品介绍
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_repass" value="{{ good.goods_description }}" name="goods_infro" required=""
                  autocomplete="off" class="layui-input">
              </div>
          </div>
		  <div class="layui-form-item">
              <label for="type" class="layui-form-label">
                  <span class="x-red">*</span>类型ID
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="type" value="{{ good.types_id }}" name="type" required=""
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass1" class="layui-form-label">
                  <span class="x-red">*</span>商品缩略图
              </label>
              <div class="layui-input-inline">
                  <input type="file" id="L_repass1" name="userfiles1" required=""
                  autocomplete="off" class="layui-input" multiple>
              </div>
          </div>
            <input type="hidden" name="username" value="{{ request.session.session }}">
		  <div class="layui-form-item layui-form-text">
                    <label for="desc" class="layui-form-label">
                        商品详情
                    </label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" id="desc" name="goods_content" class="layui-textarea" required="" ></textarea>
                    </div>
                </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <input  class="layui-btn" type="submit"  id="submitq" value="修改">
          </div>
      </form>
    </div>
  </body>
</html>