{% extends 'buy/base.html'%}
{% load static %}
{% block add %}
    <div id="lunbo"> </div>
    <div class="shop_list">
            <div class="list1_box">
                {% for i in data %}
                <div class="list_box">
                    <dl>
                        <dt><a href="/buy/detail/{{ i.id }}/"><img src="{% static i.img  %}"/></a> </dt>
                        <dd align="center">
                            <p><a href="/buy/detail/{{ i.id }}/">{{ i.name }}</a></p>
                            <p>￥{{ i.price }}元</p>
                        </dd>
                    </dl>
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}